@font-face {
    font-family: TNRCondensed;
    src: url(fonts/Times/TNR_Condensed.otf) format('truetype');
}

body {
    background-color: black;
    overflow-x: hidden;
}

.reproductor-musica {
    z-index: 1999;
    position: fixed;
}

.contenedor-cancion-nombre {
    text-align: center;

    font-size: 2vh;

    z-index: 2000;
    background-color: rgba(93, 196, 142, 0.881);

    border-bottom-left-radius: -5vh;
    border-bottom-right-radius: -5vh;
    border-top-left-radius: 5vh;
    border-top-right-radius: -5vh;
    /*border-style: solid;
    border-color: black;*/

    box-shadow: -1vh -0.25vh 5vh black;

    position: fixed;
    width: 50vh;
    padding: 2vh;
    padding-top: 1.25vh;
    padding-left: 1vh;
    top: 90vh;
    left: 105vh;
}

@keyframes spin { 
    100% { 
        transform:rotate(-360deg); 
    } 
}

.contenedor-vinilo {
    z-index: 2000;
  
  border-radius: 50vh;
  border-style: solid;
  border-color: rgba(224, 212, 167, 0.948); 
  border-width: 15px;

  background-color: rgb(206, 192, 142);
  padding: 1.5vh;

  box-shadow: -2vh 3vh 5vh black;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 67vh;
  left: 155vh;
}

.SpinningVinyl {
  animation: spin 6s infinite linear;
}

.portada {
    z-index: 1001;

    position: relative;
    height: 98vh;
    width: 186vh;
    left: 0.25vh;

    border-radius: 3vh;
    margin-bottom: 1.25vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.imagenLogo {
    z-index: 1002;

    position: absolute;
    top: 20vh;
}

.videoFondo {
    position: absolute;
    height: 98vh;
    left: -15vh;
}

.seccion-categorias {
    font-family: TNRCondensed;
    background-color: rgba(224, 212, 167);

    position: relative;
    height: 80vh;
    left: -2vh;
    width: 190vh;
    padding-left: 8vh;
    padding-right: 8vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.contenedor-categorias {
    background-color: rgba(3, 0, 0, 0.075);

    position: relative;
    height: 68vh;
    width: 175vh;

    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.categoria-instancia-exterior {
    background-color: rgba(37, 150, 190);
    border-radius: 4vh;

    padding: 3vh;

    width: 45vh;
    height: 59vh;
}

.categoria-instancia-interior {
    background-color: rgba(37, 150, 190);
    border-radius: 4vh;
    border-style: solid;
    border-color: rgba(224, 212, 167);

    padding: 2vh;

    width: 40vh;
    height: 54vh;
}

.contenedor-imagen-categoria {
    display: flex;
    justify-content: center;

    padding: 1vh;

    overflow: hidden;
    width: 30vh;
    height: 30vh;
}

.imagen-categoria {
    width: 300; 
    height: 300; 
}

.contenedor-texto-categoria {
    padding: 2vh;
}

